.home {
  display: grid;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

/* Header */

.header {
  display: grid;
  grid-template-columns: 10% 10% 10% 70%;
  grid-template-rows: 33% 33% 33%;
  height: 8vh;
}

.link-home {
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: center;
}

.link-jobs {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
}

.link-creation {
  grid-column: 3/4;
  grid-row: 2/3;
  text-align: center;
}